{% extends "base.html" %}

{% block page %}

<div>
  <div class="container">
    <div class="row-fluid padtop">
      <div class="span12">
	<img src="/static/img/bridge-wide.png"><
      </div>
    </div>
    <div class="row-fluid padtop">
      <div class="span12 statement">
	<p>Tracy and I have been married for 20 years this summer.
	  We have three teenagers: Dominic, Adam, and Emma.</p>

	<p>We love living in Cedar Hills! We moved here in 2005
	because we wanted to live in a smaller city, with lots of kids
	around. I particularly like the parks and trails and enjoy the
	hiking and fishing that is just a few minutes away in American
	Fork Canyon. I enjoy photography and camping.</p>

	<p>I teach Computer Science at BYU, which is my dream job. I
	run the <a href="http://ilab.cs.byu.edu">Internet Research
	Lab</a>, where we explore what the Internet should do next,
	and I run the <a href="http://osl.byu.edu">BYU Open Source
	Lab</a>, where I mentor students on software projects that
	help make a difference in the world. I am incredibly
	passionate about genealogy, and recently built
	the <a href="http://leaf.byu.edu">leaf</a> site, which reads
	your FamilySearch data and helps you to visualize where your
	family tree need additional work.</p>
	 
	<p>During my time in the city, I have volunteered for the
	Family Festival and served on the Blue Ribbon Recreation
	Committee, two and a half years on the planning commission,
	and one year on the city council. I was appointed in August of
	2012 to fill the vacancy created when Gary Gygi was appointed
	mayor. In my time on the council, I have learned a lot about
	city government, and have particularly learnd the importance
	of listening and working together.</p>
	</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
