{% extends "base.html" %}

{% block page %}

<div>
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
	<h1>Fiscal Management</h1>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12 statement">
	<h3>Summary</h3>
	<ul class="padlist">
	  <li>The best thing we can do to keep property taxes low is
	    to continue to increase sales tax revenue. We need to
	    ensure the city maintains business-friendly policies so
	    that we can continue to attract development.</li>
	  <li>We need to find savings in the budget where
	    possible. The city was losing money this year on the grill
	    at the Recreation Center. I encouraged the mayor and
	    council to lease out the grill to a private business
	    instead. Having Sammy's run the grill will give us great
	    food while ensuring a small but reliable income from the
	    lease.</li>
	  <li>In addition, this year we will be contracting with a
	    private fitness instructor to run many of our indoor
	    classes. This should help us to have more options for
	    residents while also saving money.</li>
	  <li>We need to ensure that the recommendations of the Golf
	    Finance Committee are followed and explore all possible ways
	    to reduce expenses and enhance revenue for the golf course.</li>
	  </ul>
	<h3>Taxes</h3>
	<p>The city by law must have a balanced budget each year. Most
	years, the city collects and spends about $8 million,
	including transfers between funds:</p>

	<img class="border padbottom10" src="/static/img/budget.png">

	<p>This amount has been steady for the past five years, except
	for the one-time expense in 2012 to build the recreation
	center, which was done with impact fees we had collected over
	past years.</p>

	<p>Barring any future annexation, most of the homes in Cedar
	Hills have already been built. As a result, our building fees,
	which previously were a major source of funding, have
	plummeted (left graph, blue line). Property tax revenue
	increased due to more homes being built, but then levelled out
	as no new homes were established (right graph, green
	line).</p>

	<div class="row-fluid">
	  <div class="span6">
	    <img class="border padbottom10" src="/static/img/building.png">
	  </div>
	  <div class="span6">
	    <img class="border padbottom10" src="/static/img/taxes.png">
	  </div>
	</div>

	<p>The biggest story here is that sales tax revenue has
	  consistently increased (right graph, blue line). The city
	  has wisely kept business-friendly policies in place,
	  attracting Walmart, Chase, McDonald's, and Hart's. This
	  sales tax revenue has enabled us to avoid steep property tax
	  increases. About half of property tax revenue is needed to
	  pay for the golf course bond.</p>

	<p>The best thing the city can do is to continue to attract
	  commercial development. The additional revenue can be used
	  to provide increased recreation programs, develop our
	  remaining parks, or pay down debt early. We need to be
	  welcoming to new development, while also ensuring resident
	  concerns regarding light, noise, and traffic are met.</p>

	<h3>Efficiency</h3>

	<p>The city should continue to find ways to save money
	  where possible. This year, we reviewed the finances of the
	  grill the city ran at the recreation center during July to
	  December of 2012, its first 6 months of operation. During
	  this time, expenditures exceeded revenues by over $17,000.
	  While it was possible that the grill could have turned its
	  finances around, we were worried that the city would
	  continue to lose money.  I did not believe the city should
	  be trying to run the grill, since a private business will be
	  much more efficient. I encouraged city staff and the mayor
	  to lease the grill out, and was pleased that the council
	  agreed that this was the right action to take. With Sammy's
	  running the grill, the city will make a small but regular
	  income from leasing out the space, which is a much less
	  risky position.</p>

	<p>In the coming year, we will be saving money in our
	  recreation department by contracting out many of our indoor
	  fitness classes to a private instructor. As with the grill,
	  the city will not lose any money; we will make a percentage
	  of the profits if the classes are successful.</p>

	<h3>Golf Course</h3>

	<p>A major concern for the city is to continue to improve the
	  financial position of the golf course, which has been
	  subsidized by $1.8 million through 2012, including $700,000
	  to reconfigure a hole for some residential lots. Some of
	  this expense will be recouped once the lots are sold.</p>

	<p>The golf course financial committee recommended that the city
	  increase the number of golf tournaments and other events at
	  the new recreation center. City staff has been working hard to
	  meet this goal. With the basement being finished this year,
	  we will be able to exclusively schedule the upstairs area for
	  events and hold recreation classes downstairs, which should help
	  provide extra revenue.</p>

	<p>The committee also recommended that the city sell more
	  season passes. Over the life of the course, greens fees have
	  by far been the majority of revenue. We will need to examine
	  revenue for 2013 to see if this plan is working.</p>

	<img class="border padbottom10" src="/static/img/golf.png">

	<p>Ultimately, the best thing to do with the golf course is to
	  get it to be operationally profitable, as it has in past
	  years. The city cannot in good faith avoid making bond
	  payments on the golf course, so these are a sunk cost in
	  economic terms. Nor can the city stop operating the course,
	  since this would cause the total outstanding bond amounts to
	  be payable immediately. The best path forward is to increase
	  revenue and decrease costs wherever possible. If the course
	  is able to make more each year than it spends, this can help
	  alleviate the cost of bond payments. To help in this effort, we
	  need to end the bad publicity for the city regarding the course
	  and instead promote it as a great golf destination.

	<h3>Bonds</h3>

	<p>Finally, city staff has done a great job identifying
	  opportunities to save money on its outstanding bonds.  This
	  past fiscal year the city:

	<ul>
	  <li>refinanced the general obligation bond
	  for the golf course, saving the city almost $500,000 over the
	  life of the loan, or about $23,000 each year;</li>

	  <li>refinanced the 2009 bond for water improvements, saving
	  the city over $200,000 over the life of the loan, including
	  more than $25,000 this year; and</li>

	  <li>paid off a bond on the public safety building six years
	    early, saving over $50,000 in interest and fees.</li>
	</ul>
	
	<p>We need to continue to examine our budget to save money
	  where possible, and run the city as efficiently as
	  possible.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
