{% extends "base.html" %}

{% block page %}

<div>
  <div class="container">
    <div class="row-fluid padtop">
      <div class="span2">
	<img src="/static/img/daniel-zappala.jpg">
      </div>
      <div class="span10 statement">
	<p>I love Cedar Hills and would be proud to represent you on
	the City Council. City government is about neighbors working
	together to create a great place to live.</p>

	<p>I believe in:</p>
	<ul>
	  <li class="highlight">Smart Fiscal Management</li>
	  <p>When I joined the City Council, the city was running a
	    grill at the recreation center and losing money each
	    month.  I encouraged us to save money by leasing the space
	    to a private business, and am very happy we were able
	    to <a href="http://www.cedarhills.org/grill">bring Sammy's
	    Cafe to Cedar Hills</a>. In addition to good food, the
	    city is guaranteed a small, but reliable income from
	    leasing out the space.
	  </p>

	  <li class="highlight">Transparency</li>
	  <p>The city should be as open as possible with its
	    finances. I have created a new web site
	    at <a href="http://budget.cedarhills.org">budget.cedarhills.org</a>
	    that shows 10+ years worth of financial data from the
	    city, with easy-to-read charts and graphs. I will be
	    helping city staff to keep this site updated each year.

	  <li class="highlight">Family-Oriented Recreation and Events</li>
	  <p>Our city is doing a great job providing numerous outdoor
	    recreation opportunities, both through the city and in
	    partnership with organizations in the area. We need to
	    continue to expand opportunities where possible, including
	    making good use of our new recreation center to offer
	    fitness, karate and other classes.</p>
	    
	  <li class="highlight">Planning</li>
	  <p>The next four years will be crucial for planning how our
	    city completes its last years of growth.  We need to
	    update our parks plan, develop our commercial area, and
	    work with neighboring cities on improved police and fire
	    services. We may also need to plan for pressurized
	    irrigation meters due to dry summers and water shortages,
	    and should be ready to work with the county if there is an
	    opportunity to be involved in a library system.</p>

	  <li class="highlight">Civility and Consensus</li>
	  <p>Effective planning for our city requires listening to
	    residents and building consensus. We need to continue to
	    use social media and townhall meetings to involve and
	    communicate with residents on these decisions. Above all,
	    we need to maintain a spirit of civility and unity as we
	    work together on these issues.</p>
	</ul>
      </div>
    </div>
  </div>
</div>


{% endblock %}
