{% extends "base.html" %}

{% block page %}

<div>
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
	<h1>Planning</h1>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12 statement">
	<h3>Summary</h3>
	<ul class="padlist">
	  <li>The city will be updating its parks plan this year to
	    determine what our last few parks should contain and how
	    the city should fund them.</li>
	  <li>The city likewise needs a plan for developing our commercial area
	    that preserves green space, since the city-owned land was purchased
	    with recreation impact fees. A splash pad is one possibility.</li>
	  <li>We need to decide how best to work with neighboring
	    cities on improved police and fire services.</li>
	  <li>The city needs to pay for installing pressurized
	    irrigation meters at each home, because dry summers and
	    water shortages are forecast to continue. Pricing water
	    usage is the most reasonable way to ensure our scarce
	    resources are allocated efficiently.</li>
	  <li>There has been some preliminary discussion of a
	    county-wide library system. The city should be planning on
	    how it can be involved if such a system becomes a
	    reality.</li>
	</ul>
	<h3>Parks</h3>

	<p>The General Plan has not been updated since 2002, and is
	  particularly deficient with regard to parks. There is
	  currently no funding for finishing the Bayhill Park, and the
	  plan for this park may need to be modified in light of the
	  new Murdock Canal Trail. The Harvey Parcel, slated to be a
	  sports park, is currently still in litigation.  The overall
	  plan for parks needs to be updated, with citizen input on
	  the facilities to build at each park and a plan for
	  obtaining the funding necessary. Funding options include
	  selling existing city property, such as the commercial land
	  on 4800 W and the Cottonwood lots, bonding, and saving money
	  for park construction each year.</p>

	<h3>Commercial Development</h3>

	<p>The city has been approached by a commercial developer who
	  is interested in bringing a large development to Cedar Hills
	  that will use the rest of our available commercial property.
	  Tentative plans include a senior living facility, retail
	  shops, restaurants, and a movie theater.</p>
	  
	<p>The city needs to plan carefully with this development, to
	  ensure it fits with the surrounding community. Please see my
	  blog
	  at <a href="http://cedarhillsblog.org/">cedarhillsblog.org</a>
	  for more details.</p>

	<p>In addition to these concerns, we need to be sure to
	  preserve some green space in the area, perhaps with a splash
	  pad.  The city-owned land south of Hart's Gas Station was
	  purchased with recreation impact fees, so I feel it is
	  important we maintain some kind of recreational area there.
	  We can also use revenue from selling or leasing city-owned
	  land to acquire or develop future park land, such as the
	  Harvey parcel or Bayhill Park.</p>

	<p>As with any development, the city should continue to maintain
	  its architectural standards and ensure resident concerns
	  regarding light, noise, and traffic are addressed.</p>
	
	<h3>Public Safety</h3>

	<div class="floatright">
	  <img class="border padbottom10 small" src="/static/img/fire-trucks.jpg">
	  <p class="caption">Photo courtesy Trent Augustus</p>
	</div>

	<p>The city has a number of options for improving our police
	  and fire services. Currently we receive fire service from
	  Lone Peak Public Safety District, police service from
	  American Fork, and 911 dispatch from Utah Valley Dispatch.
	  The city is considering options for increased fire staffing
	  to improve response time when multiple calls occur
	  simultaneously, and is also considering options for police
	  services that could enhance service levels.</p>

	<p>The issue is somewhat complex, because there are many
	  moving pieces at the moment. (1) The Lone Peak Public Safety
	  District is considering forming a taxing district, so that
	  property taxes could be collected directly by the district
	  rather than the participating cities. This would help
	  provide improved transparency for residents and ease
	  pressure on the city's budget when fees for fire coverage
	  increase. (2) The Public Safety District is also considering
	  switching to Pleasant Grove for Dispatch. If Cedar Hills continues
	  using American Fork for police services, this would mean police
	  dispatch would use Utah Valley and fire dispatch would use Pleasant
	  Grove, which would require extra effort to ensure smooth operation. (3)
	  There have been initial discussions on merging the fire departments
	  of Lone Peak and several nearby cities. The city has also had
	  preliminary discussions about using Lone Peak or Pleasant Grove for
	  both police and fire services.</p>

	<p>Ultimately, the city will need to navigate through these
	  choices.  Our primary concerns are providing high quality
	  service while also keeping costs for these services
	  reasonable. Our city has increased our budget for fire
	  services significantly in recent years, in order to staff
	  our own fire station and improve service times.  We should
	  not accept further cost increases unless this provides
	  additional improvements in service. The city should also
	  favor participation in a public safety district, as opposed
	  to contracting with another city, since that provides us
	  with a greater voice in how services are provided.
	</p>

	<h3>Pressurized Irrigation</h3>

	<p>One of the significant concerns of our public works
	  department is ensuring that the city has sufficient water to
	  meet our needs.  In wet years, this is generally not a
	  problem, but with our recent string of mild winters and dry
	  and hot
	  summers, <a href="http://www.heraldextra.com/news/local/is-your-water-restricted-for-north-utah-county-it-probably/article_73b4e77b-f769-55af-83be-41b10aea384e.html">water
	  shortages have begun to be a problem in Utah County</a>. If
	  this trend continues, the city will need to be very careful
	  about managing its water resources.</p>

	<p>The best way to handle water conservation is through the
	  market.  Currently the city does not meter pressurized
	  irrigation water, so the monthly fee is based on the size of
	  your property, not how much water you actually use. By charging
	  based on usage, we can use economic incentives to ensure we have
	  adequate water to make it through very dry years. The major
	  impediment to doing this is the installation cost, and city
	  staff is exploring options to make this feasible.</p>

	<h3>Library</h3>

	
	<div class="floatright">
	  <img class="border padbottom10 small" src="/static/img/library.jpg">
	  <p class="caption">Photo courtesy <a href="http://www.flickr.com/photos/vblibrary/">Enokson</a> on Flickr</p>
	</div>
	<p>Currently, Cedar Hills has a library reimbursement program
	  so that residents can purchase library services from another
	  city and receive back a portion of that fee (currently
	  $30). Other local cities participate in the North Utah
	  County Library Cooperative -- American Fork, Pleasant Grove,
	  Lehi, Eagle Mountain and Highland.</p>

	<p>There has been
	  some <a href="http://www.heraldextra.com/news/local/county-proposes-co-op-library-with-courier/article_34af53d7-e6ec-5f75-be37-3640885bcd58.html
	  ">preliminary discussion of expanding the North County
	  cooperative system</a> to include more cities, including
	  Provo and Orem. Cedar Hills should position itself to be a
	  part of any county library system. Currently the best way to
	  do this would be to use a portion of the recreation center
	  basement for a small library, including digital books. I am
	  a strong supporter of a county-wide or even state-wide
	  library system. By being part of a larger system, our
	  residents would have access to a much larger supply of
	  books; this is particularly important for our children as we
	  encourage them to be frequent readers. We should be sure to
	  use our bi-annual survey and resident meetings to gather
	  feedback on whether this is something residents want to be a
	  part of.
	</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
