{% extends "base.html" %}

{% block page %}

<div>
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
	<h1>Recreation</h1>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12 statement">
	<h3>Summary</h3>
	<ul class="padlist">
	  <li>The city has a vibrant outdoor recreation program. While
	    we should seek to improve or expand these programs where
	    it makes sense, the city should focus primarily on
	    improving indoor recreation, once the basement of the
	    Recreation Center is finished this summer.</li>
	  <li>The city has a plan in place to expand indoor recreation
	    programs in the north part of the basement. The city
	    should utilize town hall meetings and social media to get
	    resident feedback regarding additional options for the
	    south portion of the basement.</li>
	  <li>We have had several well-attended events, such as the
	    Family Christmas Event, the Easter egg hunts and
	    geocaching, and the July pancake breakfast. The city
	    should continue to hold fun events for families to help
	    develop our sense of community, and should enlist
	    volunteer committees to help when practical.</li>
	</ul>
	<h3>Recreation</h3>

	<div class="floatright">
	  <img class="border padbottom10 small" src="/static/img/soccer.jpg">
	  <p class="caption">Photo courtesy Scott Petersen</p>
	</div>

	<p>The city is going a great job running flag football, tot
	  and youth soccer, youth basketball, and summer golf
	  camps. Lacrosse, baseball, football, cheer, and additional
	  soccer options are available through local
	  organizations. The city also offers karate, Lego League, and
	  indoor fitness classes.</p>

	<p>With the recreation center basement being finished this
	  summer, the city will be expanding its indoor recreation
	  classes in the north portion of the basement.  We will be
	  partnering with Jill Griffiths, from Tree Fitness, to run
	  numerous indoor fitness classes, such as Zumba and Boot
	  Camp. This is a great arrangement for us, as residents will
	  receive top-notch fitness classes, while also having the
	  potential to make some revenue from renting out the
	  space. The more successful the fitness classes are, the more
	  options residents will have, and the more money the city
	  will make.</p>
	
	<p>The south side of the basement will be finished this summer
	  as well, but the council has intentionally chosen to leave
	  it empty. This will give us a chance to meet with residents
	  to find out what they want in this portion of the
	  basement. Some ideas include fitness equipment, an area with
	  games for teens to hang out, or a small library. I
	  personally would like to have a library in our city. A
	  library would give us the potential to join the North Utah
	  County Library cooperative, which includes Lehi, American
	  Fork, Pleasant Grove, Eagle Mountain, and Highland. We would
	  also be able to provide digital books, giving us a larger
	  selection than our physical space could hold. However, I
	  think it is important that residents choose the direction
	  for the recreation center, rather than the city council
	  following their personal interests. We plan to get resident
	  feedback through a survey and should also hold town hall
	  meetings and use social media.</p>

	<h3>Events</h3>

	<p>City-wide events are a great way to build community spirit.
	  The Family Festival has always been a great activity, and
	  this year it was even better due to the hard work of a large
	  force of volunteers. The city organized a new committee to
	  organize the festival this year, and this increased
	  involvement played a huge role in the success of the
	  event. The committee is working toward a permanent date for
	  the festival so that we can plan on a regular time every
	  year.</p>

	<p>This past year, we had a number of well-attended events,
	  such as the Family Christmas Event, the Easter egg hunts and
	  geocaching, and the July pancake breakfast. The Youth City
	  Council played a big role in helping with these activities.
	  I hope that in the coming year the city can expand the
	  number of events held, so that we continue to build our
	  community spirit. We should consider forming an events
	  committee to help organize regular activities, with the help
	  of the Youth City Council.</p>

      </div>
    </div>
  </div>
</div>

{% endblock %}
