{% extends "base.html" %}

{% block page %}

<div>
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
	<h1>Transparency</h1>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12 statement">
	<h3>Summary</h3>
	<ul class="padlist">
	  <li>Transparency is one of the most important qualities for
	    government. Residents have a right to know how their tax
	    dollars are being spent.</li>
	  <li>I have worked with some students at BYU to create a new
	    web site
	    at <a href="http://budget.cedarhills.org">budget.cedarhills.org</a>
	    that shows 10+ years worth of financial data from the
	    city, with easy-to-read charts and graphs. I will be
	    helping city staff to keep this site updated each year.</li>
	  <li>The city, particularly Jenney Rees, did a great job with
	    the State of the City newsletter and social media outreach
	    this year. We need to continue to engage residents and
	    keep everyone informed.</li>
	</ul>
	<h3>New Budget Web Site</h3>
	<p>The city should be as open as possible with its
	  finances. Like most cities, we release a detailed budget
	  showing revenue and expenditures for each of the city funds,
	  broken down by category.  However, these are released as a
	  spreadsheet, which can be a little difficult to read. The
	  state of the city newsletter does a great job of simplifying
	  the budget by showing some charts, but I think we can do
	  even better this.</p>
	<p>Since my appointment to the council, I have been working
	  with some BYU students to create a new site for the city
	  at <a href="http://budget.cedarhills.org">budget.cedarhills.org</a>.
	  This site allows you to explore all of the detail in our
	  yearly financial statements, using charts and graphs. I have
	  uploaded 10 years of financial statements to the site, and
	  residents can use the site to examine every line in every
	  report during this time.</p>
	<p>The home page of the site shows the city's overall finances:</p>
	
	<img class="border padbottom10" src="/static/img/home.png">

	<p>You can then examine each fund and each year in detail, showing
	both revenue and expenditures:</p>

	<div class="row-fluid">
	  <div class="span6">
	    <img class="border padbottom10" src="/static/img/revenue.png">
	  </div>
	  <div class="span6">
	    <img class="border padbottom10" src="/static/img/expenditures.png">
	  </div>
	</div>

	<p>You can also view trends for each category in a fund:</p>

	<img class="border padbottom10" src="/static/img/taxes.png">

	<p>I will be continuing to develop this web site for the city
	  in the coming year to provide additional features. I want
	  city staff to be able to add comments to each graph and
	  chart, so they can explain the purpose of each fund,
	  transfers between funds, the trends, and any other
	  information that might be confusing to residents.</p>

	<p>I think this type of transparency is so important, I am
	  releasing the code as open source software, so that any city
	  can use it for free.</p>

	<h3>Communication</h3>

	<p>The city has been doing a great job publicizing important events
	  on Facebook and Twitter:</p>

	<div class="row-fluid">
	  <div class="span6">
	    <img class="border padbottom10" src="/static/img/facebook.png">
	  </div>
	  <div class="span6">
	    <img class="border padbottom10" src="/static/img/twitter.png">
	  </div>
	</div>

	<p>This is the best way for the city to reach out to residents
	  with important news, since the newsletter is only sent to
	  homes once a month and must be prepared well in
	  advance. However, we currently only have 475 followers on
	  Facebook and 154 followers on Twitter. We need to encourage
	  more residents to stay in touch with the city this way.</p>

      </div>
    </div>
  </div>
</div>

{% endblock %}
